body {background: #eeeeee; font: 75%/1.419em Arial, Helvetica, Geneva, sans-serif; min-width: 630px;}
h1, h2, h3, h4, h5 {color: #666666}
h1 {padding-bottom: 20px;}
h5 {line-height: 9px;}
.main {background-color: #dddddd; margin: 6px; padding-top: 10px;}
.header {background-color: #eeeeee; margin: 5px; padding-left: 15px; }
                