<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/apache-jmeter-2.10/bin/lib/bsh-2.0b5.jar"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="bsh.util.AWTConsole"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="apache-jmeter-2.10"/>
</launchConfiguration>
