<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/commons-lang3/src/test/java/org/apache/commons/lang3/CharUtilsPerfRun.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.apache.commons.lang3.CharUtilsPerfRun"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="commons-lang3"/>
</launchConfiguration>
