<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/dimdwarf/end-to-end-tests/target/test-deploy/dimdwarf-0.1.0-SNAPSHOT/lib/logback-classic-0.9.26.jar"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ch.qos.logback.classic.net.JMSQueueSink"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="dimdwarf"/>
</launchConfiguration>
