<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
     PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <servlet>
    <servlet-name>he</servlet-name>
    <servlet-class>com.thesleepless.heliumx.servlet.HeliumServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>he</servlet-name>
    <url-pattern>*.he</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.he</welcome-file>
  </welcome-file-list>

</web-app>

