body {
  font: normal 80% verdana;
  margin: 0px;
}

#header {
  background: #cc0000;
  color: #ffffff;
  width: 100%;
  font: bold 110% verdana;
  padding: 3px;
}

#header a {
  color: #ffffff;
}

#footer {
  clear: both;
}

#logos {
  clear: both;
  border-top: 1px solid #c0c0c0;
  padding: 10px;
}

#logo {
  float: left;
  width: 200px;
  text-align: center;
  padding: 10px;
}

#content {
  float: left;
  width: 480px;
  text-align: left;
  padding: 10px;
}

#info {
  background: transparent;
  box-shadow: 0.2em 0.2em #cccccc;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 10px;
}

#code {
  background: #ffffd0;
  border: 1px solid #c0c0c0;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px;
}

#code.output {
  background: #f0f0f0;
}

.tryit {
  font-size: 75%;
}

.tryit a {
  text-decoration: none;
}

.tryit a:hover {
  text-decoration: underline;
}

#code pre {
  font-size: 120%;
}

#code pre .hl {
  border: 1px solid #ffef80;
  background: #ffff90;
}

#code legend {
  background: #ffffff;
  color: #000000;
  border: 1px solid #c0c0c0;
  border-bottom: 2px solid #c0c0c0;
  border-right: 2px solid #c0c0c0;
  font-style: italic;
}

textarea {
  width: 95%;
}
